@{
  Layout = "_Layout";
}

@model GameLibrary.Models.Game

<h2>Would you like to delete this game?</h2>

@Html.DisplayNameFor(model => model.GameName): @Html.DisplayFor(model => model.GameName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Games", "Index")